.custom-list {
    list-style: none;
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.custom-list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.custom-list-img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    object-fit: contain

}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--spacing-lg);
    justify-items: center;
}

.student-list {
    list-style: none;       
    padding: 0;              
    margin: 0.5rem auto;    

    display: flex;
    flex-direction: column;
    align-items: center;     
    gap: 0.4rem;
}

.student-list li {
    text-align: center;      
}

